extends layout

block content
  h1= title
  p Welcome to #{title}
  p An simple web application to store links I read on using MongoDB,node, Express and Jade.
  p
        a(href="/newlink") Add New Link
  p
        a(href="/linklist") Show Links